<!-- Basic stuff -->
<meta charset="utf-8">
<meta name="HandheldFriendly" content="True">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="referrer" content="no-referrer-when-downgrade">

<title>{{ if and (.Title) (not .IsHome) }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
<meta name="description" content="{{ .Site.Params.Description }}">

{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<link rel="icon" type="image/png" href="{{ "favicon.png" | absURL }}">
<link rel="apple-touch-icon-precomposed" href="{{ "favicon.png" | absURL }}">

{{/* CSS bundling logic */}}
{{ $css_files := slice ("css/main.css") | append .Site.Params.customCSS }}
{{ $css_resources := .Resources.Match "*.css" }}
{{- range $css_files }}
  {{- $css_resources = $css_resources | append (resources.Get . | resources.ExecuteAsTemplate . $) }}
{{- end }}

{{/* Tried resources.Concat, something funky with mixing the types of resources
makes it not miss part of the file. Just put a style tag for each file. */}}
{{- range $css_resources }}
  <style>{{(. | resources.Minify).Content | safeCSS}}</style>
{{- end }}

{{ range .Site.Params.customJS -}}
  {{ partial "resource.html" (dict "context" $ "type" "js" "filename" . ) }}
{{- end }}

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

<!-- Article tags -->
<!-- <meta property="article:published_time" content="">
<meta property="article:modified_time" content="">
<meta property="article:tag" content="">
<meta property="article:publisher" content="https://www.facebook.com/XXX"> -->

{{ partial "head-extra.html" . }}
